.header_item {
  flex: 1;
  text-align: center;
  padding: 0.75rem;
}

h6 {
  font-size: 1rem;
}

.mumbai {
  background-color: #f0155e;
}

.delhi {
  background-color: #e3b732;
}

.kolkata {
  background-color: #3c79d8;
}
